<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
<header>
    <a class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
</header>

    <div id="user-template" type="text/template">
        {{#Users}}
        <div class="user-info">
            <h2>{{name}}</h2>
            <div class="user-details">
                <div class="user-text">
                    <p><strong>DNI:</strong> {{DNI}}</p>
                    <p><strong>Email:</strong> {{email}}</p>
                    <p><strong>Teléfono:</strong> {{phoneNumber}}</p>
                    <p><strong>Edad:</strong> {{age}}</p>
                </div>
                <form action="/admin/deleteUser/{{id}}" method="post">
                    <input type="hidden" name="{{_crsf.parameterName}}" value="{{_crsf.token}}"/>
                    <div class="form-group">
                        <button type="submit" class="btn-enroll">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
        {{/Users}}
        <form class="user-b" action="/default">
            <button type="submit" formaction="/admin">Volver</button>
        </form>

</div>



</body>
<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</html>
