<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administrador</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
<header>
    <a  class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>

</header>

<div id="class-template" type="text/template">
  <form action="/admin/add" method="get">
    <button type="submit" class="box">Añadir</button>
  </form>
  {{#Lessons}}
  <div class="class-form">
    <form action="/updateLesson/{{id}}" class="grid-form" method="post">
      <div class="form-group">
        <label for="sport">Deporte:</label>
        <input value="{{sport}}" type="text" id="sport" name="sport" required>
      </div>
      <div class="form-group">
        <label for="teacher">Profesor:</label>
        <input value="{{teacher.name}}" type="text" id="teacher" name="teacher" required>
      </div>
      <div class="form-group">
        <label for="startTime">Hora de inicio:</label>
        <input value="{{startTime}}" type="text" id="startTime" name="startTime" required>
      </div>
      <div class="form-group">
        <label for="finishTime">Hora de finalización:</label>
        <input value="{{finishTime}}" type="text" id="finishTime" name="finishTime" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-enroll">Actualizar</button>
      </div>
    </form>

    <form action="/admin/deleteLesson/{{id}}" method="post">
      <div class="form-group">
        <button type="submit" class="btn-enroll">Eliminar</button>
      </div>
    </form>
  </div>
  {{/Lessons}}
  <div class="centered-link">
    <a href="/admin/allUsers">VER USUARIOS</a>
  </div>
</div>



</body>
<footer>
  <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</html>
>