<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Clases para Administrador</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
<header>
  <h1>Panel de Administrador</h1>
  <button id="btn-logout">Cerrar Sesión</button>
</header>

<section id="admin-options">
  <h2>Opciones de Administrador</h2>
</section>

<section id="admin-content">
  <h2>Añadir/Actualizar Clase</h2>

  <form id="lesson-form" action="/admin/add/Lesson" method="POST">
    <label for="deporte">Deporte:</label>
    <input type="text" id="deporte" name="deporte" required>

    <label for="profesor">Profesor:</label>
    <select id="profesor" name="profesor" required>
      <option value="1">Enrique</option>
      <option value="2">Erika</option>
      <option value="3">Joan</option>
    </select>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>

    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required>

    <button type="submit">Enviar</button>
  </form>
</section>

</body>

</html>
