<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gimnasio Fitness</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>

<header>
  <a  class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
  <nav>
    <form action="/ranking" method="get">
      <button type="submit" class="box">Valóranos</button>
    </form>

    <form action="/login" method="get">
      <button type="submit" class="box">Log In</button>
    </form>
    <form action="/profile" method="get">
      <button type="submit" class="box">Perfil</button>
    </form>

    <form action="/admin" method="get">
      <button type="submit" class="box">Admin</button>
    </form>
  </nav>
</header>

<img src="/img/HomeImg.jpg" alt="Descripción de la imagen" width="2000" height="1000">

<section id="about-us">
  <h2>Sobre Nosotros</h2>
  <p>
    Bienvenido a Gimnasio Fitness, tu destino para un estilo de vida activo y saludable. Nuestro compromiso es
    proporcionarte instalaciones de primera clase y programas de entrenamiento diseñados para alcanzar tus
    objetivos de acondicionamiento físico.
  </p>
  <center>
    <form action="/training" method="get">
      <button type="submit" class="box">Descubre nuestras variedades de clases y entrenamientos</button>
    </form>
  </center>
</section>

<section id="classes">
  <h2>Descubre las Clases Disponibles</h2>
  <p>
    Explora nuestra variedad de clases diseñadas para adaptarse a todos los niveles de condición física.
    ¡Encuentra la que mejor se adapte a ti y únete a nosotros para una experiencia única!
  </p>
  <center>
    <form action="/lessons" method="get">
      <button type="submit" class="box">Descubre nuestras clases</button>
    </form>
  </center>
</section>
<footer>
  <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>

</body>

</html>
