<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clases Disponibles</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/lessons.css">
    <link rel="stylesheet" href="/css/allLessons.css">
</head>

<body>
<header>
    <a  class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
</header>

<section id="available-classes">
    <h2>Clases Disponibles</h2>
    <div id="classes-list"></div>
</section>


<div id="class-template" type="text/template">
    {{#noLessons}}
    {{/noLessons}}
    {{#Lessons}}
    <div class="lesson-card">
        <h3>{{sport}}</h3>
        <p class="teacher-info">Profesor: {{teacher.name}}</p>
        <p class="time-info">Hora: {{startTime}} - {{finishTime}}</p>
        <form action="/lessons/bookClass/{{id}}" method="post">
            <input type="hidden" name="_csrf" value="{{token}}">
            <button type="submit" class="btn-enroll">Apuntarme</button>
        </form>
    </div>
    {{/Lessons}}
    <form class="user-b" action="/default">
        <input type="hidden" name="_csrf" value="{{token}}">
        <button type="submit" formaction="/profile/mylessons">Ver Mis Clases</button>
    </form>
</div>

</body>
<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</html>
