<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Incorrecto</title>
  <link rel="stylesheet" href="/css/logIncorrect.css">

</head>
<body>
<div class="container">
  <img src="/img/error.jpg" alt="Imagen de Error">
  <h2>Login Incorrecto</h2>
  <p>Lo siento, el inicio de sesión ha fallado. Por favor, inténtalo de nuevo.</p>
  <a href="/login">Volver al inicio de sesión</a>
</div>
</body>
</html>
