<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Incorrecto</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
<header>
  <h1>Login Incorrecto</h1>
</header>

<section id="login-failed">
  <p>¡Ups! El nombre de usuario o la contraseña son incorrectos. Inténtalo de nuevo.</p>
  <button id="btn-try-again" href="/login" formmethod="get">Intentarlo de Nuevo</button>
</section>

<footer>
  <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>

</html>
