<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Lecciones</title>
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-left: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        #my-lessons a {
            display: block;
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>

<body>
<header>
    <h1>Mis Lecciones</h1>
</header>

<section id="my-lessons">
    <h2>Tus Lecciones</h2>
    <table>
        <thead>
        <tr>
            <th>Deporte</th>
            <th>Profesor</th>
            <th>Hora de inicio</th>
            <th>Hora de finalización</th>
        </tr>
        </thead>
        <tbody>
        {{#myLessons}}
        <tr>
            <td>{{sport}}</td>
            <td>{{teacher.name}}</td>
            <td>{{startTime}}</td>
            <td>{{finishTime}}</td>
            <td>
                <form action="/lessons/deleteClass/{{id}}" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <button type="submit">Desapuntarse</button>
                </form>
            </td>
        </tr>
        {{/myLessons}}
        </tbody>
    </table>
    <a href="/profile">Atrás</a>
</section>



<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>

</html>
