<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Rankings</title>
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
<header>
  <h1>Mis Rankings </h1>
</header>

<section id="my-rankings">
  <h2>Tus Rankings</h2>
  <table>
    <thead>
    <tr>
      <th>Commentario</th>
    </tr>
    </thead>
    <tbody>
    {{#myRankings}}
    <tr>
      <td>
        <form method="post" action="/updateRanking/{{id}}">
          <label>
            <textarea name="comment" placeholder="{{comment}}" rows="3" cols="50" required>{{comment}}</textarea>
          </label>
          <button type="submit">Editar</button>
        </form>
        <form action="/deleteRanking/{{id}}" method="post">
          <button type="submit" class="btn-enroll">Eliminar</button>
        </form>
      </td>
    </tr>
    {{/myRankings}}
    </tbody>
  </table>
  <a href="/profile">Atrás</a>

</section>

<footer>
  <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>

</html>
