<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - GymRat</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<header>
    <a class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
    <nav>
        <form action="/myrankings" method="get">
            <button type="submit" class="box">Mis rankings</button>
        </form>

        <form action="/mylessons" method="get">
            <button type="submit" class="box">Mis clases</button>
        </form>
    </nav>
</header>
<body>
<style>
    body {
        background-image: url("/img/HomeImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
</style>
<main>
    <h1 class="title">
        <i class="fa-regular fa-user"></i>Mi Perfil</h1>
    {{#user}}
    <form action="/updateProfile" method="post" class="grid-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{user.name}}" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="age">Edad:</label>
            <input type="text" id="age" name="age" value="{{user.age}}" readonly>
        </div>
        <div class="form-group">
            <label for="DNI">DNI:</label>
            <input type="text" id="DNI" name="DNI" value="{{user.DNI}}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{user.email}}" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Teléfono:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" value="{{user.phoneNumber}}" required>
        </div>
        <div class="form-group">
            <label for="imageFile">Imagen de perfil:</label>
            <input type="file" id="imageFile" name="imageFile" accept=".jpg, .jpeg">
        </div>
        <input type="hidden" id="id" name="id" value="{{user.id}}">
        <button type="submit">Guardar cambios</button>
    </form>

    {{/user}}
</main>
<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>
</html>

