<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - GymRat</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<header>
    <a class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
    <nav>
        <form action="/myrankings" method="get">
            <button type="submit" class="box">Mis rankings</button>
        </form>

        <form action="/mylessons" method="get">
            <button type="submit" class="box">Mis clases</button>
        </form>
    </nav>
</header>
<body>
<style>
    body {
        background-image: url("/img/HomeImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
</style>
<main>
    <h1 class="title">
        <i class="fa-regular fa-user"></i>Mi Perfil</h1>
    {{#user}}
    <form action="/updateProfileImage" method="post" class="grid-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input placeholder="{{user.name}}" type="text" id="nombre" readonly>
        </div>
        <div class="form-group">
            <label for="edad">Edad:</label>
            <input placeholder="{{user.age}}" type="text" id="edad" readonly>
        </div>
        <div class="form-group">
            <label for="DNI">DNI:</label>
            <input placeholder="{{user.DNI}}" type="text" id="DNI" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input placeholder="{{user.email}}" type="text" id="email" readonly>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input placeholder="{{user.phoneNumber}}" type="text" id="telefono" readonly>
        </div>
        <div class="form-group">
            <label for="image">Imagen de perfil:</label>
            <input type="file" id="image" name="image">
        </div>
        <button type="submit">Guardar cambios</button>
    </form>
    {{/user}}
</main>
<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>
</html>

