<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valoraciones</title>
    <link rel="stylesheet" href="/css/ranking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.css">
</head>

<header>
    <a  class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
</header>
<body>
<style>
    body {
        background-image: url("/img/HomeImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
</style>
<h2>Deja tu opinión</h2>
<form action="/ranking/createRanking" method="post">
    <input type="hidden" name="{{_crsf.parameterName}}" value="{{_crsf.token}}"/>
    <label for="comentario">Comentario:</label>
    <div id="comentario"></div>
    <input type="hidden" id="hiddenArea" name="comment">
    <button type="submit">Enviar</button>
</form>



<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"></script>
<script>
    var editor = new Quill('#comentario', {
        theme: 'snow'
    });

    editor.on('text-change', function() {
        var commentContent = editor.container.firstChild.innerHTML;
        document.querySelector('#hiddenArea').value = commentContent;
    });

</script>
</body>
</html>
