<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valoraciones</title>
    <link rel="stylesheet" href="/css/ranking.css">

</head>

<header>
    <a  class="navbar-brand" href="/"> <h1>GYMRAT</h1> </a>
</header>
<body>
<style>
    body {
        background-image: url("/img/HomeImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }

</style>
<h2>Deja tu opinión</h2>
<form action="/createRanking" method="post">
    <label for="valoracion">Valoración:</label>
    <select id="valoracion" name="valoracion">
        <option value="1">1 estrella</option>
        <option value="2">2 estrellas</option>
        <option value="3">3 estrellas</option>
        <option value="4">4 estrellas</option>
        <option value="5">5 estrellas</option>
    </select>
    <label for="comment">Comentario:</label>
    <textarea id="comment" name="comment" rows="4"></textarea>
    <button type="submit">Enviar</button>
</form>

<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</body>
</html>
