<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valoraciones</title>
    <link rel="stylesheet" href="/css/opinions.css">
</head>
<body>
<style>
    body {
        background-image: url("/img/HomeImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
</style>
<h1>Deja tu opinión</h1>
<form>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="valoracion">Valoración:</label>
    <select id="valoracion" name="valoracion">
        <option value="1">1 estrella</option>
        <option value="2">2 estrellas</option>
        <option value="3">3 estrellas</option>
        <option value="4">4 estrellas</option>
        <option value="5">5 estrellas</option>
    </select>
    <label for="comentario">Comentario:</label>
    <textarea id="comentario" name="comentario" rows="4"></textarea>
    <button type="submit">Enviar</button>
</form>
</body>
</html>
