<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/trainingStyle.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Nuestras clases y entrenamientos</title>
</head>
<header>
    <a  class="navbar-brand" href="/"> <h1>GYMRAT </h1> </a>
    <nav>
        <form action="/ranking" method="get">
            <button type="submit" class="box">Valóranos</button>
        </form>

        <form action="/login" method="get">
            <button type="submit" class="box">Log In</button>
        </form>

        <form action="/register" method="get">
            <button type="submit" class="box">Sign Up</button>
        </form>

        <form action="/admin" method="get">
            <button type="submit" class="box">Admin</button>
        </form>
    </nav>
</header>
<body>
<div class="container">
    <h1>Clases de Deporte</h1>
    <div class="sport-class yoga">
        <h2>Yoga</h2>
        <p>El yoga es equilibrio, orden, precisión y bienestar.</p>
        <img src="/img/yoga.jpg" alt="Clase de Yoga">
    </div>
    <div class="sport-class crossfit">
        <h2>CrossFit</h2>
        <p>Entrenamiento funcional de alta intensidad. Donde la fortaleza mental será mayor que la física</p>
        <img src="/img/crossfit.jpg" alt="Clase de CrossFit">
    </div>
    <div class="sport-class zumba">
        <h2>Zumba</h2>
        <p>Baile y diversión para mantenerte en forma.</p>
        <img src="/img/zumba.jpg" alt="Clase de Zumba">
    </div>
    <div class="sport-class spinning">
        <h2>Spinning</h2>
        <p>Ejercita tus piernas al ritmo de la música</p>
        <img src="/img/spinning.jpg" alt="Clase de Spinning">
    </div>
    <div class="sport-class pilates">
        <h2>Pilates</h2>
        <p>Descubre la armonía entre cuerpo y mente a través del método Pilates</p>
        <img src="/img/pilates.jpg" alt="Clase de Pilates">
    </div>
    <h1>Entrena a tu manera</h1>
    <div class="sport-class entrenamiento">
        <h2>Entrenamiento individual</h2>
        <p>Crea tu propia rutina haciendo uso de nuestras máquinas</p>
        <img src="/img/maquinas.jpg" alt="Entrenamiento individual">
    </div>
    <div class="sport-class entrenamiento">
        <h2>Entrenamiento personalizado</h2>
        <p>Te creamos tu rutina para que seas una máquina con un entrenador profesional</p>
        <img src="/img/entrenaPersonalizado.jpg" alt="Entrenamiento personalizado">
    </div>
</div>
</body>
<footer>
    <p>&copy; 2024 Gimnasio Fitness. Todos los derechos reservados.</p>
</footer>
</html>
